body {
    height: 100%;
}
#drop {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    border: 5px dashed #ccc;
    text-align: center;
    line-height: 260px;
    font-size: 25px;
    font-family: sans-serif;
    color: #ccc;
}
#drop.hover{
    color: #8dd0ff;
    border-color: #8dd0ff;
}